// Design Token Colors
$color-primary: hsl(240deg 80% 60%);
$color-gray-50: hsl(0deg 0% 95%);
$color-gray-300: hsl(0deg 0% 75%);
$color-gray-500: hsl(0deg 0% 50%);
$color-gray-700: hsl(0deg 0% 40%);
$color-black: hsl(0deg 0% 0%);
$color-transparent-gray-15: hsl(0deg 0% 50% / 0.15);
$color-transparent-gray-35: hsl(0deg 0% 50% / 0.35);
