@use '../../styles/variables.scss' as *;
@use 'sass:string';

$grid-size: 4px;
$component-id: 'progress-bar0';

.progressBar {
  $component-id: #{string.slice(#{&}, 2)};

  @function component-var($name) {
    @return var(--#{$component-id}-#{$name});
  }
  
  width: component-var('width');
  background-color: $color-transparent-gray-15;
  box-shadow: 0px 2px 4px 0px $color-transparent-gray-35 inset;

  &.small {
    height: 8px;
    border-radius: $grid-size;
    padding: 0;
  }

  &.medium {
    height: 12px;
    border-radius: $grid-size;
    padding: 0;
  }

  &.large {
    height: 24px;
    border-radius: 2 * $grid-size;
    padding: $grid-size;
  }

  .barContainer {
    border-radius: $grid-size;
    overflow: hidden;
    height: 100%;
  }

  .bar {
    background-color: $color-primary;
    height: 100%;
    width: component-var('progress-width');
  }
}
