$grid-size: 4px;

.progressBar {
  width: var(--width);
  background-color: var(--bg-color);
  box-shadow: 0px 2px 4px 0px hsla(0, 0%, 50%, 0.35) inset;

  &.small {
    height: 8px;
    border-radius: $grid-size;
    padding: 0;
  }

  &.medium {
    height: 12px;
    border-radius: $grid-size;
    padding: 0;
  }

  &.large {
    height: 24px;
    border-radius: 2 * $grid-size;
    padding: $grid-size;
  }
}

.barContainer {
  border-radius: $grid-size;
  overflow: hidden;
  height: 100%;
}

.bar {
  background-color: var(--primary-color);
  height: 100%;
  width: var(--progress-width);
}
