@import '../../styles/variables.scss';

$component-id: 'progress-bar';
$grid-size: 4px;

.progressBar {
  width: var(--#{$component-id}-width);
  background-color: $color-transparent-gray-15;
  box-shadow: 0px 2px 4px 0px $color-transparent-gray-35 inset;

  &.small {
    height: 8px;
    border-radius: $grid-size;
    padding: 0;
  }

  &.medium {
    height: 12px;
    border-radius: $grid-size;
    padding: 0;
  }

  &.large {
    height: 24px;
    border-radius: 2 * $grid-size;
    padding: $grid-size;
  }
}

.barContainer {
  border-radius: $grid-size;
  overflow: hidden;
  height: 100%;
}

.bar {
  background-color: $color-primary;
  height: 100%;
  width: var(--#{$component-id}-progress-width);
}
